body {
  font-family: Arial, sans-serif;
  margin: 20px;
  align-items: center;
  background-color: #f8f9fa;
  justify-content: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.header h1, .title h2 {
  text-align: center;
  color: #007bff;
}

.info {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.info div {
  display: flex;
  align-items: center;
}

.info input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.instructions {
  font-size: 14px;
  text-align: center;
  background-color: #e0f7fa;
  padding: 10px;
  border-radius: 5px;
}

.warning {
  font-size: 14px;
  text-align: center;
  background-color: #f9dcdc;
  padding: 10px;
  border-radius: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
}

th {
  background-color: #007bff;
  color: #ffffff;
}

td {
  background-color: #f2f2f2;
}

.radio-group {
  display: flex;
  justify-content: space-around;
}

.radio-group label {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.radio-group input[type="radio"] {
  display: none;
}

.radio-group input[type="radio"] + span {
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 50%;
  border: 2px solid #ccc;
  transition: background-color 0.2s, border-color 0.2s;
}

.radio-group input[type="radio"]:checked + span {
  background-color: #007bff;
  border-color: #007bff;
}

.button1 {
  display: block;
  width: 50%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 25%;
}

.button1:hover {
  background-color: #0056b3;
}
